# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Dependências e logs
node_modules
npm-debug.log
yarn-error.log

# Diretório de build (será gerado dentro do container)
dist
build

# Arquivos de cache e IDE
.eslintcache
.vite